# Server
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/resource_db?schema=public"

# Test Database (used by integration tests)
TEST_DATABASE_URL="postgresql://postgres:password@localhost:5432/resource_db_test?schema=public"
